
<%= form_with(model: doc, local: true) do |form| %>
  <% if doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :doc_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :targetReleaseVersion%>
    <%= form.text_field :targetReleaseVersion, id: :doc_targetReleaseVersion, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :dateExpectedStartWork %>
    <%= form.date_select :dateExpectedStartWork, id: :doc_dateExpectedStartWork, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= form.label :documentStatus %>
    <%= form.text_field :documentStatus, id: :doc_documentStatus, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :documentOwner %>
    <%= form.text_field :documentOwner, id: :doc_documentOwner, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= form.label :designerOwner %>
    <%= form.text_field :designerOwner, id: :doc_designerOwner, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= form.label :developerOwner %>
    <%= form.text_field :developerOwner, id: :doc_developerOwner, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :qaOwner %>
    <%= form.text_field :qaOwner, id: :doc_qaOwner, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :goals %>
    <%= form.text_area :goals, id: :doc_goals, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :backgroundStrategicFit %>
    <%= form.text_area :backgroundStrategicFit, id: :doc_backgroundStrategicFit, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :assumptions %>
    <%= form.text_area :assumptions, id: :doc_assumptions, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :requirements %>
    <%= form.text_area :requirements, id: :doc_requirements, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= form.label :userInteractionNotes %>
    <%= form.text_area :userInteractionNotes, id: :doc_userInteractionNotes, class: "form-control" %>
  </div>

<div class="form-group">
    <%= form.label :questions %>
    <%= form.text_area :questions, id: :doc_questions, class: "form-control" %>
  </div>

<div class="form-group">
    <%= form.label :notDoing %>
    <%= form.text_area :notDoing, id: :doc_notDoing,  class: "form-control" %>
  </div>
  <div class="panel-footer">
    <%= form.submit %>
<% end %>
