
<%= form_with(model: doc, local: true) do |form| %>
  <% if doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="form-group col-md-4 mb-3">
    <%= form.label "Title:" %>
    <%= form.text_field :title, id: :doc_title, class: "form-control" %>
  </div>
<div class="form-group col-md-4 mb-3">
    <%= form.label "Release Version (Expected):"%>
    <%= form.text_field :targetReleaseVersion, id: :doc_targetReleaseVersion, class: "form-control" %>
  </div>
<!--<div class="form-group col-md-4 mb-3">
    <%= form.label "Starting Work On" %>
    <%= form.date_select :dateExpectedStartWork, id: :doc_dateExpectedStartWork, class: "form-control" %>
  </div>-->
<div class="form-group col-md-4 mb-3">
    <%= form.label "Status:" %>
    <%= form.text_field :documentStatus, id: :doc_documentStatus, class: "form-control" %>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-3 mb-3">
    <%= form.label "Document Owner:"%>
    <%= form.text_field :documentOwner, id: :doc_documentOwner, placeholder:"@",class: "form-control" %>
</div>
  <div class="form-group col-md-3 mb-3">
    <%= form.label "Lead Designer:"%>
    <%= form.text_field :designerOwner, id: :doc_designerOwner, placeholder:"@", class: "form-control" %>
  </div>
<div class="form-group col-md-3 mb-3 ">
    <%= form.label "Lead Developer:"%>
    <%= form.text_field :developerOwner, id: :doc_developerOwner,placeholder:"@",class: "form-control" %>
  </div>
<div class="form-group col-md-3 mb-3">
    <a href=https://www.atlassian.com/blog/jira-software/organizing-issues-priority-optimize-delivery"<%= form.label "Overall Priority (view definitions):" %></a>
</button>
    <%= form.text_field :qaOwner, id: :doc_qaOwner,placeholder:"p0-p5", class: "form-control" %>
  </div></div>
  <div class="form-row">
  <div class="form-group col-md-12">
    <%= form.label "Goals of Feature:" %>
    <%= form.text_area :goals, id: :doc_goals, class: "form-control" %>
  </div></div>
<div class="form-row">
  <div class="form-group col-md-12">
    <%= form.label "Background & Strategic Fit:" %>
    <%= form.text_area :backgroundStrategicFit, id: :doc_backgroundStrategicFit, class: "form-control" %>
  </div></div>
  
<div class="form-row">
  <div class="form-group col-md-12">
    <%= form.label "Any Assumptions:" %>
    <%= form.text_area :assumptions, id: :doc_assumptions, class: "form-control" %>
  </div></div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= form.label "Feature Spec Requirements:" %>
    <%= form.text_area :requirements, id: :doc_requirements, class: "form-control" %>
  </div>
 <div class="form-group col-md-6">
    <%= form.label "User Interaction Notes:" %>
    <%= form.text_area :userInteractionNotes, id: :doc_userInteractionNotes, class: "form-control" %>
  </div>
 </div>
 <div class="form-row">
<div class="form-group col-md-6">
    <%= form.label "Open Questions:" %>
    <%= form.text_area :questions, id: :doc_questions, class: "form-control" %>
  </div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
    <%= form.label "Not Doing (just to be clear):" %>
    <%= form.text_area :notDoing, id: :doc_notDoing,  class: "form-control" %>
  </div></div><div class="form-row">
  <div class ="form-group col-md-4">
 <%= form.submit class: "btn btn-success"%>
</div></div>
<% end %>
</form>






