<p id="notice"><%= notice %></p>
<div class = "panel panel-default">
  <div class = "panel-heading">
<h1>Your Spec Docs:</h1></div>
<div class = "panel-body">
    <table class = "table table-default">
      <thead>
    <tr>
      <th>Feature Title</th>
  
      <th>Development Starts (tentative)</th>
      <th>Current Status</th>
      <th>Priority</th>
    </tr>
  </thead>

  <tbody>
   
    <% @docs.each do |doc| %>
    <% if doc.user == current_user %> 
      <tr>
        <td><%= doc.title %></td>
        <td><%= doc.targetReleaseVersion %></td>
        <td><%= doc.documentStatus%></td>
        <td><%= doc.qaOwner  %></td>
        <td><%= link_to 'View', doc, class: "btn btn-warning" %></td>
        <td><%= link_to 'Edit', edit_doc_path(doc),  class: "btn btn-light"%> </td>
        <td><%= link_to doc, :method => :delete, data: {confirm: 'You are about to delete a PRD, are you sure you want to continue?'} do%><span class = "glyphicon glyphicon-trash"></span></td><% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
 <div class = "panel-footer">
<br>
<% if user_signed_in? %><%= link_to '+ Create a New PRD', new_doc_path, class: "btn btn-success btn-lg" %><% end %></div></div>
<div class="center">
</div>
<%=render 'pages/footer' %>