

<p id="notice"><%= notice %></p>

<div class = "panel panel-default">
  <div class = "panel-heading">
    <h1><%= @doc.title %> <span class="badge bg-danger"><%=@doc.qaOwner%></span></h1>
</div>
  <div class = "panel-body">

<div class="card text-white bg-warning col-md-6 ">
<br><div class="card-header"><%=@doc.title %> Details</div>
<div class="card-body">
 <div class="row">   
<div class="form-group col-md-6">
  <strong>Feature Status:</strong>
  <%= @doc.documentStatus %>
</div>
</div>
  <div class ="row">
<div class="form-group col-md-6  ">
  <strong>Dev Begins Work (tentative):</strong>
  <%= @doc.dateExpectedStartWork %>
</div></div>
<div class ="row">
<div class="form-group col-md-6 ">
  <strong>Document Owner:</strong>
  <%= @doc.documentOwner %>
</div></div>
<div class="row">
<div class="form-group col-md-6 ">
  <strong>Designer Owner:</strong>
  <%= @doc.designerOwner %>
</div></div>
<div class="row">
<div class="form-group col-md-6 ">
  <strong>Development Owner:</strong>
  <%= @doc.developerOwner %>
</div></div></div></div><br><br>
<div class="form-group col-md-12 mb-3  ">
  <strong>Goals:</strong><br>
  <%= @doc.goals.gsub('\n', '<br>') %>
</div>
<div class="form-group col-md-6  ">
  <strong>Background & Strategic Fit:</strong><br>
  <%= @doc.backgroundStrategicFit.gsub('\n', '<br>') %>
</div>

<div class="form-group col-md-6 mb-3 ">
  <strong>Assumptions:</strong><br>
  <%= @doc.assumptions.gsub('\n', '<br>') %>
</div>
<div class="form-group col-md-6 mb-3 ">
  <strong>Requirements:</strong><br>
  <%= @doc.requirements.gsub('\n', '<br>') %>
</div>

<div class="form-group col-md-6 mb-3 ">
  <strong>User Interaction Notes:</strong><br>
  <%= @doc.userInteractionNotes.gsub('\n', '<br>') %>
</div>
<div class="form-group col-md-6 mb-3 ">
  <strong>Open Questions:</strong><br>
  <%= @doc.questions.gsub('\n', '<br>') %>
</div>
<div class="form-group col-md-6 mb-3 ">
  <strong>Not Doing:</strong><br>
  <%= @doc.notDoing.gsub('\n', '<br>') %>
</div></div>
  <div class = "panel-footer">
<%= link_to 'Edit', edit_doc_path(@doc), class: "btn btn-warning" %> |
<%= link_to 'Back', docs_path, class: "btn btn-info" %>