

<p id="notice"><%= notice %></p>

<div class = "panel panel-default">
  <div class = "panel-heading">
    <h1><%= @doc.title %> - <span class="badge badge-pill badge-primary"><%=@doc.qaOwner%></span></h1>
</div>
  <div class = "panel-body">
<div class="form-group col-md-2 mb-3 ">
  <strong>Feature Status:</strong><br>
  <%= @doc.documentStatus %>
</div>
<div class="form-group col-md-3 mb-3 ">
  <strong>Dev Begins Work (tentative):</strong></br>
  <%= @doc.dateExpectedStartWork %>
</div>
<div class="form-group col-md-2 mb-3 ">
  <strong>Document Owner:</strong><br>
  <%= @doc.documentOwner %>
</div>
<div class="form-group col-md-2 mb-3 ">
  <strong>Designer Owner:</strong><br>
  <%= @doc.designerOwner %>
</div>
<div class="form-group col-md-2 mb-3 ">
  <strong>Development Owner:</strong><br>
  <%= @doc.developerOwner %>
</div>
<div class="form-group col-md-12 mb-3 ">
  <strong>Goals:</strong><br>
  <%= @doc.goals %>
</div>
<div class="form-group col-md-6 mb-3 ">
  <strong>Background & Strategic Fit:</strong><br>
  <%= @doc.backgroundStrategicFit %>
</div>

<div class="form-group col-md-6 mb-3 ">
  <strong>Assumptions:</strong><br>
  <%= @doc.assumptions %>
</div>
<div class="form-group col-md-6 mb-3 ">
  <strong>Requirements:</strong><br>
  <%= @doc.requirements %>
</div>

<div class="form-group col-md-6 mb-3 ">
  <strong>User Interaction Notes:</strong><br>
  <%= @doc.userInteractionNotes %>
</div>
<div class="form-group col-md-6 mb-3 ">
  <strong>Open Questions:</strong><br>
  <%= @doc.questions %>
</div>
<div class="form-group col-md-6 mb-3 ">
  <strong>Not Doing:</strong><br>
  <%= @doc.notDoing %>
</div></div>
  <div class = "panel-footer">
<%= link_to 'Edit', edit_doc_path(@doc), class: "btn btn-warning" %> |
<%= link_to 'Back', docs_path, class: "btn btn-info" %>