

<p id="notice"><%= notice %></p>

<div class = "panel panel-default">
  <div class = "panel-heading">
    <h1><%= @doc.title %></h1>
</div>
  <div class = "panel-body">
<p>
  <strong>Targetreleaseversion:</strong>
  <%= @doc.targetReleaseVersion %>
</p>

<p>
  <strong>Dateexpectedstartwork:</strong>
  <%= @doc.dateExpectedStartWork %>
</p>

<p>
  <strong>Documentstatus:</strong>
  <%= @doc.documentStatus %>
</p>

<p>
  <strong>Documentowner:</strong>
  <%= @doc.documentOwner %>
</p>

<p>
  <strong>Designerowner:</strong>
  <%= @doc.designerOwner %>
</p>

<p>
  <strong>Developerowner:</strong>
  <%= @doc.developerOwner %>
</p>

<p>
  <strong>Qaowner:</strong>
  <%= @doc.qaOwner %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @doc.goals %>
</p>

<p>
  <strong>Backgroundstrategicfit:</strong>
  <%= @doc.backgroundStrategicFit %>
</p>

<p>
  <strong>Assumptions:</strong>
  <%= @doc.assumptions %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @doc.requirements %>
</p>

<p>
  <strong>Userinteractionnotes:</strong>
  <%= @doc.userInteractionNotes %>
</p>

<p>
  <strong>Questions:</strong>
  <%= @doc.questions %>
</p>

<p>
  <strong>Notdoing:</strong>
  <%= @doc.notDoing %>
</p>
</div>
  <div class = "panel-footer">
<%= link_to 'Edit', edit_doc_path(@doc), class: "btn btn-warning" %> |
<%= link_to 'Back', docs_path, class: "btn btn-info" %></div></div>
