<p id="notice"><%= notice %></p>

<h1>Product Requirement Docs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Version</th>
      <th>Status</th>
      <th>PRD Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prds.each do |prd| %>
      <tr>
        <td><%= prd.title %></td>
        <td><%= prd.targetReleaseVersion %></td>
        <td><%= prd.documentStatus %></td>
        <td><%= prd.documentOwner %></td>

<% if pin.user == current_user %>
        <td><%= link_to 'Show', prd %></td>
        <td><%= link_to 'Edit', edit_prd_path(prd) %></td>
        <td><%= link_to 'Destroy', prd, method: :delete, data: { confirm: 'You really want to delete your hard work?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>  <%= link_to '+ New PRD', new_prd_path%>
<% end %>


